/****************************************************************************


borg.rc

produced by Borland Resource Workshop


*****************************************************************************/

#include<borg.h>

MainMenu MENU 
{
 POPUP "&File"
 {
  MENUITEM "&New", IDM_FILEnew
  MENUITEM "&Open...", IDM_FILEopen
  MENUITEM "&Walk...", IDM_FILEwalk
  MENUITEM "&Save", IDM_FILEsave
  MENUITEM "Save &as...", IDM_FILEsaveAs
  MENUITEM SEPARATOR
  MENUITEM "Save &Meta File...", IDM_FILEsaveMeta
  MENUITEM SEPARATOR
  MENUITEM "&Load Rules", IDM_FILEloadRules
  MENUITEM "Save &Rules", IDM_FILEsaveRules
  MENUITEM SEPARATOR
  MENUITEM "Save Posi&tions in ASCII", IDM_FILEsavePositions
  MENUITEM "Save Positions in &Binary", IDM_FILEsavePositionsBin
  MENUITEM SEPARATOR
  MENUITEM "E&xit", IDM_FILEexit
 }

 POPUP "&Simulate"
 {
  MENUITEM "&Run", IDM_SIMULATErun
  MENUITEM "&Step", IDM_SIMULATEstep
  MENUITEM "S&top", IDM_SIMULATEstop
  MENUITEM "Reset &All", IDM_SIMULATEreset
  MENUITEM "Reset &Environment", IDM_SIMULATEresetEnv
  MENUITEM "Start &Batch", IDM_SIMULATEstartBatch
 }

 POPUP "&Options"
 {
  MENUITEM "&Display...", IDM_OPTIONSdisplay
  MENUITEM "&System...", IDM_OPTIONSenvironment
  MENUITEM "&Agent...", IDM_OPTIONSagent
  MENUITEM "&Network...", IDM_OPTIONSnetwork
 }

 POPUP "&Help"
 {
  MENUITEM "&About...", IDM_HELPabout
 }

}


MainMenu ACCELERATORS 
{
 "S", IDM_OPTIONSenvironment, VIRTKEY, NOINVERT
 "A", IDM_OPTIONSagent, VIRTKEY, NOINVERT
 "W", IDM_FILEwalk, VIRTKEY, NOINVERT
 "O", IDM_FILEopen, VIRTKEY, NOINVERT
 "S", IDM_FILEsave, VIRTKEY, NOINVERT
 "A", IDM_FILEsaveAs, VIRTKEY, NOINVERT
 "P", IDM_FILEprint, VIRTKEY, NOINVERT
 "T", IDM_FILEpageSetup, VIRTKEY, NOINVERT
 "R", IDM_FILEprinterSetup, VIRTKEY, NOINVERT
 "X", IDM_FILEexit, VIRTKEY, NOINVERT
 "R", IDM_SIMULATErun, VIRTKEY, NOINVERT
 "S", IDM_SIMULATEstep, VIRTKEY, NOINVERT
 "T", IDM_SIMULATEstop, VIRTKEY, NOINVERT
 "A", IDM_SIMULATEreset, VIRTKEY, NOINVERT
 "A", IDM_HELPabout, VIRTKEY, NOINVERT
 "D", IDM_OPTIONSdisplay, VIRTKEY, NOINVERT
 "B", IDM_SIMULATEstartBatch, VIRTKEY, NOINVERT
 "N", IDM_FILEnew, VIRTKEY, NOINVERT
 "E", IDM_SIMULATEresetEnv, VIRTKEY, NOINVERT
 "L", IDM_FILEloadRules, VIRTKEY, NOINVERT
 "R", IDM_FILEsaveRules, VIRTKEY, NOINVERT
 "N", IDM_OPTIONSnetwork, VIRTKEY, NOINVERT
 "T", IDM_FILEsavePositions, VIRTKEY, NOINVERT
 "B", IDM_FILEsavePositionsBin, VIRTKEY, NOINVERT
 "I", IDM_FILE, VIRTKEY, NOINVERT
 "M", IDM_FILEsaveMeta, VIRTKEY, NOINVERT
}


SpeedBar DIALOG 0, 0, 367, 31
STYLE WS_CHILD | WS_VISIBLE | WS_BORDER
CLASS "BorDlg_Gray"
FONT 8, "MS Sans Serif"
{
 PUSHBUTTON "Run", IDC_SPEEDBARrun, 2, 2, 26, 26
 PUSHBUTTON "Step", IDC_SPEEDBARstep, 30, 2, 26, 26
 PUSHBUTTON "Stop", IDC_SPEEDBARstop, 58, 2, 26, 26
 PUSHBUTTON "Reset", IDC_SPEEDBARreset, 86, 2, 26, 26
 PUSHBUTTON "Batch", IDC_SPEEDBARbatch, 114, 2, 26, 26
 PUSHBUTTON "1", IDC_SPEEDBARagent1, 142, 2, 26, 26, NOT WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON "2", IDC_SPEEDBARagent2, 170, 2, 26, 26, NOT WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON "3", IDC_SPEEDBARagent3, 198, 2, 26, 26, NOT WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON "4", IDC_SPEEDBARagent4, 226, 2, 26, 26, NOT WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON "5", IDC_SPEEDBARagent5, 254, 2, 26, 26, NOT WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON "6", IDC_SPEEDBARagent6, 282, 2, 26, 26, NOT WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON "7", IDC_SPEEDBARagent7, 310, 2, 26, 26, NOT WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON "8", IDC_SPEEDBARagent8, 338, 2, 26, 26, NOT WS_VISIBLE | WS_TABSTOP
}


AboutBox DIALOG 22, 17, 203, 92
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "About Borg"
{
 CTEXT "BORG", -1, 29, 5, 144, 8
 CTEXT "A distributed learning classifier system simulation", -1, 6, 29, 191, 8
 CTEXT "Version 2.1", -1, 29, 55, 144, 8
 DEFPUSHBUTTON "OK", IDOK, 85, 72, 32, 14, WS_GROUP
 CTEXT "Basic Organized Robot Group", -1, 51, 14, 100, 8
 CTEXT "environment by Doug Gaff", -1, 49, 40, 105, 8
}

BorgIcon ICON "borg.ico"


DisplaySettings DIALOG 120, 73, 210, 159
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Display Settings"
FONT 8, "MS Sans Serif"
{
 GROUPBOX "Environment Display", IDC_DISPLAYenv, 15, 10, 80, 50, BS_GROUPBOX
 CONTROL "During Iteration", IDC_DISPLAYenvDuring, "BUTTON", BS_AUTORADIOBUTTON | WS_GROUP, 25, 25, 60, 12
 CONTROL "After Iteration", IDC_DISPLAYenvAfter, "BUTTON", BS_AUTORADIOBUTTON, 25, 40, 60, 12
 GROUPBOX "Axes Display", IDC_DISPLAYaxes, 114, 10, 80, 50, BS_GROUPBOX
 CONTROL "On", IDC_DISPLAYaxesOn, "BUTTON", BS_AUTORADIOBUTTON | WS_GROUP, 125, 25, 60, 12
 CONTROL "Off", IDC_DISPLAYaxesOff, "BUTTON", BS_AUTORADIOBUTTON, 125, 40, 60, 12
 GROUPBOX "Information Display", IDC_DISPLAYinfo, 15, 70, 80, 50, BS_GROUPBOX
 CONTROL "During Iteration", IDC_DISPLAYinfoDuring, "BUTTON", BS_AUTORADIOBUTTON | WS_GROUP, 25, 85, 60, 12
 CONTROL "After Iteration", IDC_DISPLAYinfoAfter, "BUTTON", BS_AUTORADIOBUTTON, 25, 100, 60, 12
 GROUPBOX "Object Display", IDC_DISPLAYobject, 114, 70, 80, 50, BS_GROUPBOX
 CONTROL "To Scale", IDC_DISPLAYobjectToScale, "BUTTON", BS_AUTORADIOBUTTON | WS_GROUP, 125, 85, 60, 12
 CONTROL "Not To Scale", IDC_DISPLAYobjectNotToScale, "BUTTON", BS_AUTORADIOBUTTON, 125, 100, 60, 12
 DEFPUSHBUTTON "OK", IDOK, 30, 134, 50, 14
 PUSHBUTTON "Cancel", IDCANCEL, 130, 134, 50, 14
}

EnvSettings DIALOG 46, 43, 394, 264
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Classifier System Settings"
FONT 8, "MS Sans Serif"
{
 GROUPBOX "Classifier List", IDC_GROUPBOX3, 10, 8, 230, 92, BS_GROUPBOX | WS_GROUP
 LTEXT "# of Classifiers", -1, 18, 32, 64, 8, NOT WS_GROUP
 EDITTEXT IDC_ENVnumClass, 89, 30, 25, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 LTEXT "Bid Constant", -1, 128, 32, 60, 8, NOT WS_GROUP
 EDITTEXT IDC_ENVclassBid, 200, 30, 25, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 LTEXT "# of Conditions", -1, 18, 48, 60, 8, NOT WS_GROUP | WS_DISABLED
 EDITTEXT IDC_ENVnumCond, 89, 46, 25, 12, ES_AUTOHSCROLL | WS_DISABLED | WS_BORDER | WS_TABSTOP
 LTEXT "Bid Cap", -1, 128, 48, 60, 8, NOT WS_GROUP
 EDITTEXT IDC_ENVbidCap, 200, 46, 25, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 LTEXT "Initial Strengths", -1, 18, 64, 60, 8, NOT WS_GROUP
 EDITTEXT IDC_ENVclassStrength, 89, 62, 25, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 LTEXT "Strength Cap", -1, 128, 64, 60, 8, NOT WS_GROUP
 EDITTEXT IDC_ENVstrengthCap, 200, 62, 25, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 GROUPBOX "Taxes", IDC_GROUPBOX7, 250, 8, 134, 92, BS_GROUPBOX | WS_GROUP
 LTEXT "Head Tax", -1, 262, 32, 60, 8, NOT WS_GROUP
 EDITTEXT IDC_ENVheadTax, 348, 30, 25, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 LTEXT "Bid Tax", -1, 262, 48, 60, 8, NOT WS_GROUP | WS_DISABLED
 EDITTEXT IDC_ENVbidTax, 348, 46, 25, 12, ES_AUTOHSCROLL | WS_DISABLED | WS_BORDER | WS_TABSTOP
 LTEXT "Producer Tax", -1, 262, 64, 60, 8, NOT WS_GROUP | WS_DISABLED
 EDITTEXT IDC_ENVprodTax, 348, 62, 25, 12, ES_AUTOHSCROLL | WS_DISABLED | WS_BORDER | WS_TABSTOP
 LTEXT "Producter Tax Interval", -1, 262, 80, 80, 8, NOT WS_GROUP | WS_DISABLED
 EDITTEXT IDC_ENVprodInt, 348, 78, 25, 12, ES_AUTOHSCROLL | WS_DISABLED | WS_BORDER | WS_TABSTOP
 GROUPBOX "Genetics", IDC_GROUPBOX1, 10, 108, 128, 124, BS_GROUPBOX | WS_GROUP
 LTEXT "Crossover Probability", -1, 20, 130, 70, 8, NOT WS_GROUP
 EDITTEXT IDC_ENVgeneticsCrossProb, 100, 128, 25, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 LTEXT "Mutation Probability", -1, 20, 146, 65, 8, NOT WS_GROUP
 EDITTEXT IDC_ENVgeneticsMutationProb, 100, 144, 25, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 LTEXT "Genetic Interval", -1, 20, 162, 60, 8, NOT WS_GROUP
 EDITTEXT IDC_ENVgeneticsInterval, 100, 160, 25, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 CHECKBOX "Elitism Enabled", IDC_ENVeliteEnabled, 20, 180, 60, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 LTEXT "Elite Threshold", -1, 30, 200, 60, 8, NOT WS_GROUP
 EDITTEXT IDC_ENVeliteThresh, 100, 198, 25, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 GROUPBOX "System", IDC_GROUPBOX4, 148, 108, 114, 124, BS_GROUPBOX | WS_GROUP
 LTEXT "Random Seed", -1, 156, 130, 60, 8, NOT WS_GROUP
 EDITTEXT IDC_ENVsimSeed, 226, 128, 25, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 LTEXT "Max Iterations", -1, 156, 146, 55, 8, NOT WS_GROUP
 EDITTEXT IDC_ENVsimMaxIterations, 226, 144, 25, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 LTEXT "Number of Agents", -1, 156, 162, 60, 8
 EDITTEXT IDC_ENVnumAgents, 226, 160, 25, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 CHECKBOX "BBA Enabled", IDC_ENVbbaEnabled, 156, 178, 60, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 CONTROL "Standard Environment", IDC_ENVstandardObst, "BUTTON", BS_AUTORADIOBUTTON, 156, 194, 84, 12
 CONTROL "Concave Obstacle", IDC_ENVconcaveObst, "BUTTON", BS_AUTORADIOBUTTON, 156, 210, 80, 12
 GROUPBOX "Message Board", IDC_GROUPBOX8, 272, 108, 112, 42, BS_GROUPBOX | WS_GROUP
 LTEXT "Max # of Postings", -1, 280, 130, 60, 8, NOT WS_GROUP
 EDITTEXT IDC_ENVmaxMsgBoard, 348, 128, 25, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 GROUPBOX "Rule Discovery", IDC_GROUPBOX11, 272, 158, 112, 74, BS_GROUPBOX
 CHECKBOX "CDO Enabled", IDC_ENVcdoOn, 280, 176, 60, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 CHECKBOX "CEO Enabled", IDC_ENVceoOn, 280, 192, 60, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 CHECKBOX "TCO Enabled", IDC_ENVtcoOn, 280, 208, 60, 12, BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP
 DEFPUSHBUTTON "OK", IDOK, 44, 242, 50, 14, BS_DEFPUSHBUTTON | WS_TABSTOP
 PUSHBUTTON "Cancel", IDCANCEL, 110, 242, 50, 14
 PUSHBUTTON "Agent...", IDC_ENVagentButton, 232, 242, 50, 14
 PUSHBUTTON "Network...", IDC_ENVnetworkButton, 300, 242, 50, 14
}

AgentSettings DIALOG 44, 55, 264, 182
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Agent Settings"
FONT 8, "MS Sans Serif"
{
 GROUPBOX "Detection Range", IDC_GROUPBOX5, 9, 9, 114, 75, BS_GROUPBOX | WS_GROUP
 LTEXT "Goal", -1, 19, 32, 20, 8, NOT WS_GROUP
 EDITTEXT IDC_AGENTrangeGoal, 84, 30, 30, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 LTEXT "Obstacle", -1, 19, 48, 30, 8, NOT WS_GROUP
 EDITTEXT IDC_AGENTrangeObst, 84, 46, 30, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 LTEXT "Sensor", -1, 19, 64, 25, 8, NOT WS_GROUP
 EDITTEXT IDC_AGENTrangeSensor, 84, 62, 30, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 GROUPBOX "Mechanical Constants", IDC_GROUPBOX6, 134, 9, 122, 75, BS_GROUPBOX | WS_GROUP
 LTEXT "Time Constant", -1, 144, 32, 60, 8, NOT WS_GROUP
 EDITTEXT IDC_AGENTconstTime, 222, 30, 25, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 LTEXT "Agent Diameter", -1, 144, 48, 55, 8, NOT WS_GROUP
 EDITTEXT IDC_AGENTconstDiameter, 222, 46, 25, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 GROUPBOX "Payoffs", IDC_GROUPBOX2, 8, 92, 248, 50, BS_GROUPBOX | WS_GROUP
 LTEXT "Goal Reward", -1, 18, 111, 60, 8, NOT WS_GROUP
 EDITTEXT IDC_ENVpayoffGoal, 98, 106, 25, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 LTEXT "Obstacle Reward", -1, 144, 109, 60, 8, NOT WS_GROUP
 EDITTEXT IDC_ENVpayoffObst, 222, 106, 25, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 LTEXT "Direction Reward", -1, 18, 125, 60, 8, NOT WS_GROUP
 EDITTEXT IDC_ENVpayoffDirection, 98, 122, 25, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 LTEXT "Crash Penalty", -1, 144, 124, 60, 8, NOT WS_GROUP
 EDITTEXT IDC_ENVpayoffCrash, 222, 122, 25, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 DEFPUSHBUTTON "OK", IDOK, 8, 160, 50, 14
 PUSHBUTTON "Cancel", IDCANCEL, 68, 160, 50, 14
 PUSHBUTTON "System...", IDC_AGENTsystemButton, 146, 160, 50, 14
 PUSHBUTTON "Network...", IDC_AGENTnetworkButton, 206, 160, 50, 14
}


STRINGTABLE
{
  IDS_SIMFILTER    "Simulation Files(*.sim)|*.sim|"
  IDS_BINPOSFILTER "Binary Position Files(*.p)|*.p|"
  IDS_WALKFILTER   "Position Files(*.sim,*.p)|*.sim;*.p|Simulation Files(*.sim)|*.sim|Binary Position Files(*.p)|*.p|"
  IDS_BATCHFILTER  "Batch Files(*.b)|*.b|"
  IDS_RULEFILTER   "Rule Files(*.rul)|*.rul|"
}


NetworkSettings DIALOG 69, 82, 298, 184
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Network Settings"
FONT 8, "MS Sans Serif"
{
 CHECKBOX "Network Enabled", IDC_NETWORKenabled, 115, 10, 68, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 GROUPBOX "Classifier Passing", IDC_GROUPBOX9, 8, 30, 136, 122, BS_GROUPBOX | WS_GROUP
 CHECKBOX "Enabled", IDC_NETWORKclassEnabled, 18, 48, 44, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 LTEXT "Transmit Interval", -1, 18, 67, 60, 8, NOT WS_GROUP
 EDITTEXT IDC_NETWORKclassTXinterval, 108, 66, 24, 12
 LTEXT "Max to Transmit", -1, 18, 83, 60, 8, NOT WS_GROUP
 EDITTEXT IDC_NETWORKclassMaxToTX, 108, 82, 24, 12
 LTEXT "TX Strength Threshold", -1, 18, 100, 76, 8, NOT WS_GROUP
 EDITTEXT IDC_NETWORKclassTXstrenThresh, 108, 98, 24, 12
 LTEXT "Max to Receive", -1, 18, 116, 60, 8, NOT WS_GROUP
 EDITTEXT IDC_NETWORKclassMaxToRX, 108, 114, 24, 12
 LTEXT "RX Strength Threshold", -1, 18, 132, 76, 8, NOT WS_GROUP
 EDITTEXT IDC_NETWORKclassRXstrenThresh, 108, 130, 24, 12
 GROUPBOX "Action Passing", IDC_GROUPBOX10, 152, 30, 136, 122, BS_GROUPBOX | WS_GROUP
 CHECKBOX "Enabled", IDC_NETWORKactionEnabled, 161, 48, 44, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 LTEXT "Transmit Interval", -1, 161, 67, 60, 8, NOT WS_GROUP
 EDITTEXT IDC_NETWORKactionTXint, 251, 66, 24, 12
 LTEXT "Max to Transmit", -1, 161, 83, 60, 8, NOT WS_GROUP
 EDITTEXT IDC_NETWORKactionMaxToTX, 251, 82, 24, 12
 LTEXT "TX Bid Threshold", -1, 161, 100, 76, 8, NOT WS_GROUP
 EDITTEXT IDC_NETWORKactionTXbidThresh, 251, 98, 24, 12
 LTEXT "Max to Receive", -1, 161, 116, 60, 8, NOT WS_GROUP
 EDITTEXT IDC_NETWORKactionMaxToRX, 251, 114, 24, 12
 LTEXT "RX Bid Threshold", -1, 161, 132, 76, 8, NOT WS_GROUP
 EDITTEXT IDC_NETWORKactionRXbidThresh, 251, 130, 24, 12
 DEFPUSHBUTTON "OK", IDOK, 8, 162, 50, 14
 PUSHBUTTON "Cancel", IDCANCEL, 78, 162, 50, 14
 PUSHBUTTON "System...", IDC_NETWORKsystemButton, 168, 162, 50, 14
 PUSHBUTTON "Agent...", IDC_NETWORKagentButton, 238, 162, 50, 14
}
